@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}

@keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: var(--light-blue);
        }
    }