body{
    background-color: #FEFEFE;
    height: 100%;
}
.container{
    padding: 4vh;
}
h1{
    font-size: 2vw;
    font-weight: bold;
}
p{
    font-size: 1vw;
}
.boxes{

}
.box{
    width: 100%;
    background-color: white;
    outline: auto;
}